.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.hero, .hero .main {
    display: flex;
}

.hero {
    flex-direction: column;
    align-items: flex-start;
}

.hero .subtitle {
    margin-top: -320px;
    font-size: 2em;
}
.hero .subtitle span {
    color: darkcyan;
}

.hero .main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero h1 {
    font-size: 25em;
}

