.menu {
    display: flex;
    height: 300px;
    margin-top: 10px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.menu-toggle
{
    z-index: 1;
    width: 200px;
    height: 200px;
    position: absolute;
    left: -100px;
    top: 50px;
    background-color: black;
    transform: rotate(45deg);
    cursor: pointer;
    transition: background-color 0.2s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.menu-toggle.active {
    background-color: darkcyan;
}

.menu-toggle.active .inner div {
    background-color: darkcyan;
}

.menu-toggle .inner {
    transform: rotate(-45deg);
    margin-top: 90px; /* 65px */
    transition: margin-top 0.2s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.menu-toggle .inner div {
    background-color: white;
    height: 15px;
    width: 65px;
    margin-left: 110px;
    margin-bottom: -15px; /* 8px */
    transition: margin-bottom 0.2s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.menu-toggle:hover .inner {
    margin-top: 65px;
}

.menu-toggle:hover .inner div {
    margin-bottom: 8px;
}

.nav.nav-items {
    opacity: 0;
    width: 100%;
    display: flex;
    transition: opacity 0.2s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    flex-direction: row;
    align-items: center;
    padding-left: 140px;
}
.nav.nav-items ul{
    list-style: none;
}

.nav.nav-items ul li a{
    text-decoration: none;
}

.nav.nav-items.active{
    opacity: 1;
}